<nav class="navbar fixed-top navbar-expand-lg" [ngClass]="isDarkTheme ? 'navbar-dark bg-dark' : 'navbar-light bg-light'">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img  [src]="isDarkTheme ? whiteLogoSrc : blackLogoSrc" alt="logo" alt="logo" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="me-auto ">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1">Actors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1">Ranking</a>
          </li>
          <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" aria-current="page" href="#">My movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="switchTheme()">Theme</a>
          </li>
        </ul>
      </div>


      <div *ngIf="isLogged; else loggedOut">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>

      <ng-template #loggedOut>
        <div>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="login">Login</a>
            </li>
          </ul>
        </div>
      </ng-template>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
