@import '../../../../styles.scss';
.background-photo{
  @extend .background-photo;
  height: 40vh;
}

.background-photo .movieInfo{
  padding: 1vh 3vh
}
.title{
  color: #fff;
  font-family: PT Sans Narrow,Open Sans,sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.75rem;
  text-transform: uppercase;
}
.ratingBox{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ratingBox img{
  width: 2rem
}
.ratingBox p{
  margin: 0;
  padding-right: 2vw;
}
.rating{
  font-size: 1.2rem;
  color: #FFC200
}
.numberOfRatings{
  color: #ffffff;
  font-size: .75rem;
}
