<div class="ratio ratio-21x9">
  <iframe src="https://www.youtube.com/embed/JqcncLPi9zw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<section class="row justify-content-between pt-3">
  <section class="col-8">
    <h2 class ="title">{{movie.title}} &nbsp;<span class="fs-5">({{movie.year}})</span> </h2>
  </section>
  <section class="col-4 ratingBox">
    <img src = "{{starSrc}}" (click)="isLogged && editFavoriteMovie() ">
    <p class = "rating">{{movie.rating}}</p>
    <p class = "numberOfRatings">Number of reviews: {{numberOfReviews}}</p>
  </section>
</section>
