<section class="card text-center  py-5 px-4 col-12 d-flex column justify-content-around vh-min-50">
  <section>
    <h3 class="fw-bold my-3">Log in with your MovieLibrary account</h3>
    <form [formGroup]="loginForm">
      <section class="mb-3">
        <label for="login" class="form-label">Username or e-mail</label>
        <input required type="email" formControlName="login" class="form-control" id="login" placeholder="name@example.com" (input)="clearError()">
      </section>
      <section class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input required type="password" formControlName="password" class="form-control" id="password" placeholder="******" (input)="clearError()">
         <p class="fs-6 fw-lighter highlight-on-hover clickable" style="text-align: right;" (click)="changePassword()">Nie pamiętam hasła</p> <!--//todo better -->
      </section>
    </form>
    </section>
    <section class="vh-min-10">
      <p class="fs-6 fw-lighter text-alert block" *ngIf="loginError">Login error!</p>
    </section>
    <section class="login-buttons column justify-content-around">
      <button class="col-12 p-2" style="background-color: #e7a90f;" [disabled]="!loginForm.valid" (click)="logUserIn()">Zaloguj się</button> <!--//todo better styling-->
      <p class="lead m-0">lub</p>
      <button class="col-12" (click)="changeContainer('register')">Create new account</button>
  </section>
</section>

