@import "variables";
*{
  transition-duration: 100ms;
}

$main-color-lighter: false;
.center{
  justify-content: center;
  text-align: center;
}
.center *{
  justify-content: center;
  text-align: center;
}
.secondary-text{
  color: $secondary-text;
}
.my-card{
  padding: 3%;
  border-radius: 3%;
  background-color: $secondary-background;
  color: $secondary-text;
}

.my-card img{
  padding: 0%;
  border-radius: 3%;
  margin-bottom: 2%;
}
.bg-secondary{
  background-color: $secondary-background;
}
