@import '../../../../styles.scss';
@import "../../../../../node_modules/bootstrap/scss/bootstrap";
.background-photo{
  @extend .background-photo;
  height: 100vh;
  background-image: url('../../../../assets/loginBackground.jpg');
  background-color: grey;
  background-blend-mode: multiply;
  }

.login-buttons button{
  @extend .button;
  &:last-child {
    margin-bottom: 0!important;
  }
}
.button{
  @extend .mb-2;
  border: 1px solid rgb(201, 201, 201);
  background-color: inherit;
  line-height: 1.5rem;
  border-radius: 5px;
}

.no-border{
  border: none!important
}
.card *{
  // @extend .fw-light;
}

.h-50-vh{
  height: 50vh;
}
