@import 'src/styles.scss';
@import 'src/variables.scss';
.background-photo{
  @extend .background-photo;
  height: 40vh;
}
.movieInfo{
  background-color: $main-color;
}
.background-photo .movieInfo{
  padding: 1vh 3vh
}
.title{
  text-transform: uppercase;
}

.ratingBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
img{
  width: 2rem
}
p{
  margin: 0;
  padding-right: 2vw;
}
.rating{
  font-size: 1.2rem;
  color: #FFC200
}
.numberOfRatings{
  font-size: .75rem;
}
