<section class="container">
  <app-movie-header [movie]="Movie"></app-movie-header>
  <article class="mt-3">
      <section class="row justify-content-between gx-5">
        <img class=" mt-4 mt-md-0 mt-4-sm col-sm-12 col-md-2" src="{{Movie.poster}}">
        <section class="mt-4 mt-md-0 mt-4-sm col-sm-12 col-md-6">
          <p>{{Movie.description}}</p>
          <p>Where can i watch?
            TODO
          </p>
        </section>
        <app-rating-section ngClass="mt-4 mt-md-0 col-sm-12 col-md-4"></app-rating-section>
      </section>
    </article>
</section>
